{{ define "bottom-controls" }}

<hr/>

<button id="disconnect-button" class="pure-button pure-button-primary back-button">disconnect</button>

<button id="analysis-button" class="pure-button pure-button-primary back-button">analysis</button>

<script type="module">
    import {getEnv} from "/env.js";
    import {localDate} from "/dist/z2-bundle.js";

    document.addEventListener("DOMContentLoaded", async () => {
        const today = localDate();
        const env = await getEnv();

        document.getElementById("disconnect-button").onclick = async () => {
            const resp = confirm("Are you sure you want to disconnect bluetooth devices?");
            if (resp) {
                await env.apiClient.disconnectBluetoothDevices({});
            }
        };

        document.getElementById("analysis-button").onclick = () => {
            document.location = "/dist/html/data-{{.}}.html?date=" + today;
        };
    });
</script>

{{ end }}
