<html lang="EN">
<head>
    <title>Calendar View</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/dist/cal.css" rel="stylesheet" type="text/css">
    <link href="/dist/purecss/base-min.css" rel="stylesheet" type="text/css">
    <link href="/dist/purecss/pure-min.css" rel="stylesheet" type="text/css">
    <link href="/dist/purecss/grids-responsive-min.css" rel="stylesheet" type="text/css">
    <script type="module">
        import {calendar} from "/dist/z2-bundle.js";
        import {getEnv} from "/env.js";

        document.addEventListener("DOMContentLoaded", async () => {
            const {addEvent, renderYear} = calendar;
            const env = await getEnv();
            const year = renderYear(2024);
            document.body.appendChild(year);

            const resp = await env.calendarClient.getEvents({
                view: "default" //TODO
            });
            console.log(resp);

            resp.result_sets.forEach(s => {
                addEvent(s, event => {
                    window.location.href = `data-${event.query}.html?date=${event.date}`;
                });
            })

        });
    </script>
</head>
<body>


</body>
</html>