{{ template "header" . }}

<link href=" https://cdn.jsdelivr.net/npm/sweetalert2@11.12.0/dist/sweetalert2.min.css " rel="stylesheet">
<script src=" https://cdn.jsdelivr.net/npm/sweetalert2@11.12.0/dist/sweetalert2.all.min.js "></script>

<script>
    function showModal(xval) {
        console.log(xval);
        Swal.fire({
            title: 'Select an option',
            input: "radio",
            showCloseButton: true,
            inputOptions: {
                start: "start",
                end: "end",
            }
        }).then(value => {
            console.log(value);
        });
    }
</script>


<script type="module">
    import {Graph} from '/rtgraph/rtgraph.js';
    import {DeleteRange} from "/static/dist/bundle.js";

    const url = new URL(window.location.href);
    const params = new URLSearchParams(url.search);
    const date = params.get('date');

    document.addEventListener("DOMContentLoaded", () => {
        const second = 1000;

        const seriesOpts = {
            y2: {strokeWidth: 1.0},
            y3: {strokeWidth: 1.0, color: "red"},
            y4: {strokeWidth: 1.0, color: "red"},
            y5: {strokeWidth: 1.0, color: "red"},
        }

        const g1 = new Graph(document.getElementById("graphdiv0"), {
            seriesNames: [
                "bike_avg_speed_long | time-bin",
                "bike_avg_speed_short | time-bin",
                "bike_instant_speed_min | time-bin",
                "bike_instant_speed_max | time-bin",
                "bike_target_speed | time-bin",
            ],
            title: "Avg Speed",
            ylabel: "speed (km/h)",
            windowSize: null,
            height: 250,
            maxGapMs: 5 * second,
            series: seriesOpts,
            disableScroll: true,
            date: date,
        });

        const g2 = new Graph(document.getElementById("graphdiv1"), {
            seriesNames: [
                "heartrate | avg 2m triangle | time-bin",
                "heartrate | time-bin"
            ],
            title: "Heartrate",
            ylabel: "bpm",
            windowSize: null,
            height: 250,
            series: seriesOpts,
            maxGapMs: 5 * second,
            disableScroll: true,
            date: date,
        });

        const graphs = [
            g1.dygraph,
            g2.dygraph,
        ];

        g1.dygraph.updateOptions({
            pointClickCallback: function (e, point) {
                const an1 = {
                    series: 'y1',
                    x: point.xval,
                    shortText: 'M',
                    text: 'Marker'
                };
                console.log(an1);
                g1.dygraph.setAnnotations([an1]);
                g2.dygraph.setAnnotations([an1]);

                console.log(point);
                showModal(point.xval);
            },
        })

        const sync = Dygraph.synchronize(graphs, {
            selection: true,
            zoom: true,
            range: false,
        });

        const keyDown = ev => {
            switch (ev.code) {
                case "KeyD":
                    const range = graphs[0].xAxisRange();
                    const dateRange = [new Date(range[0]), new Date(range[1])];
                    console.log(range);

                    const start = Math.floor(range[0]);
                    const end = Math.ceil(range[1]);
                    console.log(start, end);

                    const prompt = `are you sure you want to delete the currently visible range? \n${dateRange[0]}\n${dateRange[1]}`;
                    const ok = confirm(prompt)
                    if (ok) {
                        alert(`deleting ${dateRange}`)
                        return DeleteRange({
                            start: start.toString(),
                            end: end.toString()
                        });
                    }
                    return;
                case "KeyK":
                default:
                    return Promise.resolve();
            }
        };

        document.addEventListener("keydown", ev => {
            keyDown(ev);
        })
    });
</script>

<div class="pure-g">
    <div class="pure-u-1">
        <div id="graphdiv0" class="rtgraph-graph"></div>
    </div>

    <div class="pure-u-1">
        <div id="graphdiv1" class="rtgraph-graph"></div>
    </div>
</div>

{{ template "footer" . }}