{{ template "header" . }}

<link href=" https://cdn.jsdelivr.net/npm/sweetalert2@11.12.0/dist/sweetalert2.min.css " rel="stylesheet">
<script src=" https://cdn.jsdelivr.net/npm/sweetalert2@11.12.0/dist/sweetalert2.all.min.js "></script>

<script type="module">
    import {setupBikeAnalysis} from "/static/dist/bundle.js";

    const url = new URL(window.location.href);
    const params = new URLSearchParams(url.search);
    const date = params.get('date');

    function showModal(xval) {
        console.log(xval);
        Swal.fire({
            title: 'Select an option',
            input: "radio",
            showCloseButton: true,
            inputOptions: {
                start: "start",
                end: "end",
            }
        }).then(value => {
            console.log(value);
        });
    }

    document.addEventListener("DOMContentLoaded", () => {
        setupBikeAnalysis(date, showModal);
    });
</script>

<div class="pure-g">
    <div class="pure-u-1">
        <div id="graphdiv0" class="rtgraph-graph"></div>
    </div>

    <div class="pure-u-1">
        <div id="graphdiv1" class="rtgraph-graph"></div>
    </div>
</div>

{{ template "footer" . }}