{{ define "header" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/rtgraph/dygraph.css"/>
    <link rel="stylesheet" type="text/css" href="/rtgraph/rtgraph.css"/>

    <link rel="stylesheet" type="text/css" href="/rtgraph/purecss/base-min.css">
    <link rel="stylesheet" type="text/css" href="/rtgraph/purecss/pure-min.css">
    <link rel="stylesheet" type="text/css" href="/rtgraph/purecss/grids-responsive-min.css">

    <link rel="stylesheet" type="text/css" href="/static/bumper-control.css">
</head>
<body>
{{ end }}