{{ define "bottom-controls" }}

<hr/>

<button id="disconnect-button" class="pure-button pure-button-primary back-button">disconnect</button>
<button id="analysis-button" class="pure-button pure-button-primary back-button">analysis</button>
<button id="workouts-button" class="pure-button pure-button-primary back-button">workouts</button>
<button id="backup-button" class="pure-button pure-button-primary back-button">backup</button>
<button id="sync-button" class="pure-button pure-button-primary back-button">sync</button>

<script type="module">
    import {getEnv} from "/z2/env.js";
    import {localDate} from "/z2/z2-bundle.js";

    document.addEventListener("DOMContentLoaded", async () => {
        const today = localDate();
        const env = await getEnv();

        document.getElementById("disconnect-button").onclick = async () => {
            const resp = confirm("Are you sure you want to disconnect bluetooth devices?");
            if (resp) {
                await env.apiClient.disconnectBluetoothDevices({});
            }
        };

        document.getElementById("analysis-button").onclick = () => {
            document.location = "/z2/pages/data-{{.}}.html?date=" + today;
        };

        document.getElementById("workouts-button").onclick = () => {
            document.location = "/workouts.html?ref={{.}}";
        };

        document.getElementById("backup-button").onclick = () => {
            document.location = "/z2/pages/backup.html";
        };

        document.getElementById("sync-button").onclick = () => {
            document.location = "/z2/pages/sync.html";
        };
    });
</script>

{{ end }}
