{{ define "controls" }}

<audio id="sound-fast">
    <source src="/z2/sounds/fast.mp3" type="audio/mpeg">
</audio>

<audio id="sound-slow">
    <source src="/z2/sounds/slow.mp3" type="audio/mpeg">
</audio>

<audio id="sound-fairway">
    <source src="/z2/sounds/fairway.mp3" type="audio/mpeg">
</audio>

<script>
    let i = 0;
    const sounds = ["sound-fairway", "sound-slow", "sound-fast"]

    function playSound() {
        i %= sounds.length;
        const audio = document.getElementById(sounds[i]);
        i++;
        audio.play();
    }
</script>

<div id="controls-container" class="pure-g">
    <div class="bumper-container pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-4">
        <button class="pure-button pure-button-primary" style="margin: 2px;" onclick="playSound()">
            Sound
        </button>

        <button id="presetA" class="pure-button pure-button-primary" style="margin: 2px;">A</button>
        <button id="presetB" class="pure-button pure-button-primary" style="margin: 2px;">B</button>
        <button id="presetC" class="pure-button pure-button-primary" style="margin: 2px;">C</button>
        <button id="presetD" class="pure-button pure-button-primary" style="margin: 2px;">D</button>
        <span id="timerDisplay" style="margin-left: 10px; font-size: 1.5em;">00:00</span>
    </div>

    <!-- bumper controls will be added here -->
</div>

<script type="module">
    import {registerPresets, setupControls} from "/z2/z2-bundle.js";
    import {getEnv} from "/z2/env.js"

    document.addEventListener("DOMContentLoaded", async () => {
        const env = await getEnv();
        const controls = setupControls(env.apiClient, 'controls-container', "{{.}}");
        registerPresets(env.apiClient, controls, "{{.}}");
    });
</script>

{{ end }}

